body{
	background-color: $color-primario;
	}


header {

	h3{

     				
     				color:grey;
     				text-align: center;
     				}


		div{	display:$d-flex;
				justify-content:space-between; 

				
     			


				#divPadre {
    				height:100px;
    				width:100px;
     				text-align:left;
    			  			}

				#divHijo {
    			height:100px;
    			width:350px;
    			margin:10px;
				 		}
  			
    
			
			


		}
	}





